<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unicom.fcp.pubService.mapper.UserActionAuditLogMapper" >
  <resultMap id="BaseResultMap" type="com.unicom.fcp.pubService.model.entity.UserActionAuditLog" >
    <constructor >
      <idArg column="ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="OPERATION_SUBMIT_USER_LOGIN_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="OPERATION_DESC" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CONCRETE_OPERATION" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="REVIEW_USER_LOGIN_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="REVIEW_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="STATE" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="CREATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="REMARKS" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, OPERATION_SUBMIT_USER_LOGIN_NAME, OPERATION_DESC, CONCRETE_OPERATION, REVIEW_USER_LOGIN_NAME, 
    REVIEW_TIME, STATE, CREATE_TIME, REMARKS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_action_audit_log
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_action_audit_log
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.unicom.fcp.pubService.model.entity.UserActionAuditLog" >
    insert into user_action_audit_log (ID, OPERATION_SUBMIT_USER_LOGIN_NAME, 
      OPERATION_DESC, CONCRETE_OPERATION, REVIEW_USER_LOGIN_NAME, 
      REVIEW_TIME, STATE, CREATE_TIME, 
      REMARKS)
    values (#{id,jdbcType=VARCHAR}, #{operationSubmitUserLoginName,jdbcType=VARCHAR}, 
      #{operationDesc,jdbcType=VARCHAR}, #{concreteOperation,jdbcType=VARCHAR}, #{reviewUserLoginName,jdbcType=VARCHAR}, 
      #{reviewTime,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.unicom.fcp.pubService.model.entity.UserActionAuditLog" >
    insert into user_action_audit_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="operationSubmitUserLoginName != null" >
        OPERATION_SUBMIT_USER_LOGIN_NAME,
      </if>
      <if test="operationDesc != null" >
        OPERATION_DESC,
      </if>
      <if test="concreteOperation != null" >
        CONCRETE_OPERATION,
      </if>
      <if test="reviewUserLoginName != null" >
        REVIEW_USER_LOGIN_NAME,
      </if>
      <if test="reviewTime != null" >
        REVIEW_TIME,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="operationSubmitUserLoginName != null" >
        #{operationSubmitUserLoginName,jdbcType=VARCHAR},
      </if>
      <if test="operationDesc != null" >
        #{operationDesc,jdbcType=VARCHAR},
      </if>
      <if test="concreteOperation != null" >
        #{concreteOperation,jdbcType=VARCHAR},
      </if>
      <if test="reviewUserLoginName != null" >
        #{reviewUserLoginName,jdbcType=VARCHAR},
      </if>
      <if test="reviewTime != null" >
        #{reviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.unicom.fcp.pubService.model.entity.UserActionAuditLog" >
    update user_action_audit_log
    <set >
      <if test="operationSubmitUserLoginName != null" >
        OPERATION_SUBMIT_USER_LOGIN_NAME = #{operationSubmitUserLoginName,jdbcType=VARCHAR},
      </if>
      <if test="operationDesc != null" >
        OPERATION_DESC = #{operationDesc,jdbcType=VARCHAR},
      </if>
      <if test="concreteOperation != null" >
        CONCRETE_OPERATION = #{concreteOperation,jdbcType=VARCHAR},
      </if>
      <if test="reviewUserLoginName != null" >
        REVIEW_USER_LOGIN_NAME = #{reviewUserLoginName,jdbcType=VARCHAR},
      </if>
      <if test="reviewTime != null" >
        REVIEW_TIME = #{reviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unicom.fcp.pubService.model.entity.UserActionAuditLog" >
    update user_action_audit_log
    set OPERATION_SUBMIT_USER_LOGIN_NAME = #{operationSubmitUserLoginName,jdbcType=VARCHAR},
      OPERATION_DESC = #{operationDesc,jdbcType=VARCHAR},
      CONCRETE_OPERATION = #{concreteOperation,jdbcType=VARCHAR},
      REVIEW_USER_LOGIN_NAME = #{reviewUserLoginName,jdbcType=VARCHAR},
      REVIEW_TIME = #{reviewTime,jdbcType=TIMESTAMP},
      STATE = #{state,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      REMARKS = #{remarks,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>